[submodule "backend"]
	path = backend
	url = https://github.com/sali72/note-app
	branch = develop
[submodule "frontend"]
	path = frontend
	url = https://github.com/sali72/my-inner-pages-ui
	branch = develop
